numpy==1.18.3
torch==1.7.1
tensorflow==2.9.3
torchvision
opencv-contrib-python==4.2.0.34
opencv-python==4.2.0.34
numba==0.42.0
keras==2.2.5
efficientnet==1.1.0
h5py==2.10.0
pytest
pytest-flake8
keras_applications